<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianren.methane">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.QiGuiActivity" />
        <activity android:name=".activity.DataEntryActivity" />
        <activity android:name=".activity.EntryYanYangActivity" />
        <activity android:name=".activity.EntryProductionCostActivity" />
        <activity android:name=".activity.EntryProductionBenefitActivity" />
        <activity android:name=".activity.YanYangActivity" />
        <activity android:name=".activity.MoveSulfurActivity" />
        <activity android:name=".activity.MoveCarbonActivity" />
        <activity android:name=".activity.PreHandleActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.LinkServiceActivity" />
        <activity android:name=".activity.ResetPwdActivity" />
        <activity android:name=".activity.RunningStatusActivity" />
        <activity android:name=".activity.DataStatisticsActivity" />

        <service
            android:name=".service.SipService"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.tianren.methane.service.SipService" />
            </intent-filter>
        </service>

        <activity android:name=".activity.CallPoliceActivity" />
        <activity android:name=".activity.HandleCallPoliceActivity" />
        <activity android:name=".activity.InputQuantityActivity" />
        <activity android:name=".activity.InputQuantityHisActivity" />
        <activity android:name=".activity.ReportEntryActivity"></activity>
    </application>

</manifest>